<div class="navbar">
  <div class="logo"></div>
  <h1 class="site-name">SGTR</h1>
  <div class="ui inverted secondary pointing menu">
    <a class="item">
      <i class="custom-icon custom-icon-group"></i>
    </a>
    <a class="item active">
      <i class="custom-icon custom-icon-chat"></i>
    </a>
    <a class="item">
      <i class="custom-icon custom-icon-inbox"></i>
    </a>
    <a class="item">
      <i class="custom-icon custom-icon-subtract"></i>
    </a>
    <a class="item">
      <i class="custom-icon custom-icon-indicator"></i>
    </a>
    <a class="item">
      <i class="custom-icon custom-icon-pie"></i>
    </a>
    <a class="item">
      <i class="custom-icon custom-icon-news"></i>
    </a>
  </div>
  <div class="alert">
    <i class="custom-icon custom-icon-alert"></i>
  </div>
  <div class="upgrade">
    <i class="custom-icon custom-icon-up-gray"></i>
    <span>+50</span>
  </div>
  <div class="ui avatar image avatar-2"></div>
</div>
