// ===== color =====
$primaryColor: #f3a933;
$bgColor: #1b1c1d;
$lightBgColor: #2b2c2d;
$textColor: #ededed;
$lightTextColor: #7d7c71;
$darkTextColor: #212121;
$dividerColor: #1f2021;

// ===== size =====
$navbarHeight: 60px;
